<div class="w-full">
    <h1 class="font-bold text-4xl mb-2 border border-b-2 border-t-0 border-r-0 border-l-0 border-black dark:border-white">Available models</h1>

  <% content_for :title, "Image to text models" %>

  <div id="image_to_texts" class="min-w-full">
  <%= form_with url: update_current_settings_image_to_texts_path, method: :post, remote: true, id: "current-form" do %>
    <% @image_to_texts.each do |image_to_text| %>
      <div class="flex flex-row items-center p-4 border-b">
        <!-- Name & Description Column -->
        <div class="flex-1">
          <p class="text-lg font-semibold text-black dark:text-white"><%= image_to_text.name %></p>
          <p class="text-gray-600"><%= image_to_text.description %>&nbsp; <a href="<%= image_to_text.resource %>" target="_blank" class="text-blue-600">Click here to learn more.</a> </p>
        </div>

        <div data-controller="toggle">
          <input type="checkbox" class="hidden peer sr-only opacity-0"
                id="<%= image_to_text.id %>"
                value="<%= image_to_text.id %>"
                name="current_id"
                <%= 'checked' if image_to_text.current %>
                data-action="change->toggle#toggle">
          <label class="relative flex h-6 w-11 cursor-pointer items-center rounded-full bg-gray-400 px-0.5 outline-gray-400 transition-colors before:h-5 before:w-5 before:rounded-full before:bg-white before:shadow before:transition-transform before:duration-300 peer-checked:bg-green-500 peer-checked:before:translate-x-full peer-focus-visible:outline peer-focus-visible:outline-offset-2 peer-focus-visible:outline-gray-400 peer-checked:peer-focus-visible:outline-green-500"
                for="<%= image_to_text.id %>">
            <span class="sr-only">Enable</span>
          </label>
        </div>


      </div>
    <% end %>

    <!-- Save Button -->
    <div class="mt-4">
      <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-md">Save</button>
    </div>
  <% end %>

  </div>
</div>


